In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tseries.offsets import MonthEnd
import plotly.express as px
import numpy as np

Dữ liệu ban đầu được chia thành các sheet khác nhau để dễ xử lý: "revenue", "cogs" và "fee"

In [1]:
def readData(sheetName="", valueName=""):
    data = pd.read_excel("reti_data.xlsx", sheet_name=sheetName, header=None).transpose()
    data.columns = data.iloc[0]
    data = data[1:]
    df = pd.melt(
        data,
        id_vars=['Tháng',"Năm"],
        value_vars=data.columns[2:],
        var_name="project",
        value_name=valueName
    ).rename(columns={
        "Tháng":"month",
        "Năm":"year"
    }).assign(
        date=lambda x: x['month'].astype(int).astype(str) + '/' + x['year'].astype(int).astype(str)
    ).assign(
        date = lambda x: pd.to_datetime(x['date'], format="%m/%Y") + MonthEnd(0)
    )
    return df

In [2]:
rev_df = readData('revenue', 'revenue')
cogs_df = readData('cogs', 'cogs')
rev_df["project"] = rev_df["project"].replace("DOANH THU", "total")
cogs_df["project"] = cogs_df["project"].replace("GIÁ VỐN HÀNG BÁN", "total")

NameError: name 'pd' is not defined

In [4]:
fee_df = readData('fee', 'fee')
ebt = fee_df.loc[fee_df['project']=="LỢI NHUẬN THUẦN TRƯỚC THUẾ"]
ebt["project"] = ebt["project"].replace("LỢI NHUẬN THUẦN TRƯỚC THUẾ", "total")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3132\317247726.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ebt["project"] = ebt["project"].replace("LỢI NHUẬN THUẦN TRƯỚC THUẾ", "total")

In [5]:
cogs_df

    month    year         project        cogs       date
0     1.0  2024.0     FPT Plaza 2  40188330.0 2024-01-31
1     2.0  2024.0     FPT Plaza 2         0.0 2024-02-29
2     3.0  2024.0     FPT Plaza 2         0.0 2024-03-31
3     4.0  2024.0     FPT Plaza 2         0.0 2024-04-30
4     5.0  2024.0     FPT Plaza 2         0.0 2024-05-31
..    ...     ...             ...         ...        ...
317  10.0  2024.0  Doanh thu khác   1388889.0 2024-10-31
318  11.0  2024.0  Doanh thu khác         0.0 2024-11-30
319  12.0  2024.0  Doanh thu khác         0.0 2024-12-31
320   1.0  2025.0  Doanh thu khác         0.0 2025-01-31
321   2.0  2025.0  Doanh thu khác         0.0 2025-02-28

[322 rows x 5 columns]

In [28]:
cogs_df

    month    year         project        cogs       date
0     1.0  2024.0     FPT Plaza 2  40188330.0 2024-01-31
1     2.0  2024.0     FPT Plaza 2         0.0 2024-02-29
2     3.0  2024.0     FPT Plaza 2         0.0 2024-03-31
3     4.0  2024.0     FPT Plaza 2         0.0 2024-04-30
4     5.0  2024.0     FPT Plaza 2         0.0 2024-05-31
..    ...     ...             ...         ...        ...
317  10.0  2024.0  Doanh thu khác   1388889.0 2024-10-31
318  11.0  2024.0  Doanh thu khác         0.0 2024-11-30
319  12.0  2024.0  Doanh thu khác         0.0 2024-12-31
320   1.0  2025.0  Doanh thu khác         0.0 2025-01-31
321   2.0  2025.0  Doanh thu khác         0.0 2025-02-28

[322 rows x 5 columns]

In [6]:
pd.merge(rev_df, cogs_df, how='outer')

,month,year,project,revenue,date,cogs
0,1.0,2024.0,Doanh thu cho thuê HCM,89091345.0,2024-01-31,NaN
1,1.0,2024.0,Doanh thu khác,NaN,2024-01-31,23892796.0
2,1.0,2024.0,FPT 3,NaN,2024-01-31,0.0
3,1.0,2024.0,FPT Plaza 2,57411900.0,2024-01-31,40188330.0
4,1.0,2024.0,Giá vốn VP HCM,NaN,2024-01-31,89649915.0
...,...,...,...,...,...,...
345,12.0,2024.0,Thưởng nóng,0.0,2024-12-31,74090909.0
346,12.0,2024.0,Vinhomes Global Gate,0.0,2024-12-31,0.0
347,12.0,2024.0,Vinhomes Royal Island,0.0,2024-12-31,0.0
348,12.0,2024.0,Vinhomes Royal Residences,0.0,2024-12-31,57634393.35
349,12.0,2024.0,total,10902849307.128,2024-12-31,NaN

In [15]:
df

,month,year,project,revenue,date,cogs,CoR
0,1.0,2024.0,total,333406148.0,2024-01-31,288653981.3,0.865773
1,2.0,2024.0,total,88749053.0,2024-02-29,103190754.0,1.162725
2,3.0,2024.0,total,325324554.154,2024-03-31,189604130.408,0.582815
3,4.0,2024.0,total,11125519157.978199,2024-04-30,6105671597.011415,0.548799
4,5.0,2024.0,total,8480957529.1652,2024-05-31,4814754753.248005,0.567714
...,...,...,...,...,...,...,...
415,10.0,2024.0,Doanh thu cho thuê HCM,NaN,2024-10-31,NaN,NaN
416,11.0,2024.0,Doanh thu cho thuê HCM,NaN,2024-11-30,NaN,NaN
417,12.0,2024.0,Doanh thu cho thuê HCM,NaN,2024-12-31,NaN,NaN
418,1.0,2025.0,Doanh thu cho thuê HCM,0.0,2025-01-31,NaN,NaN
419,2.0,2025.0,Doanh thu cho thuê HCM,0.0,2025-02-28,NaN,NaN

In [9]:
df = pd.merge(df, ebt, on=["project", "date", "year", "month"], how="outer").rename(columns={"fee":"ebt"}).assign(
    ebtRev = lambda x: x['ebt'] / x['revenue'].replace(0, np.nan)
)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_2776\3576229627.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ebtRev = lambda x: x['ebt'] / x['revenue'].replace(0, np.nan)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10760\63151610.py:2: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

,month,year,project,revenue,date,cogs,CoR
0,1.0,2024.0,DOANH THU,333406148.0,2024-01-31,NaN,NaN
1,1.0,2025.0,DOANH THU,683449920.203,2025-01-31,NaN,NaN
2,2.0,2024.0,DOANH THU,88749053.0,2024-02-29,NaN,NaN
3,2.0,2025.0,DOANH THU,1382445966.785,2025-02-28,NaN,NaN
4,3.0,2024.0,DOANH THU,325324554.154,2024-03-31,NaN,NaN
...,...,...,...,...,...,...,...
471,8.0,2024.0,Vinhomes Royal Residences,0.0,2024-08-31,0.0,NaN
472,9.0,2024.0,Vinhomes Royal Residences,0.0,2024-09-30,0.0,NaN
473,10.0,2024.0,Vinhomes Royal Residences,146894178.34,2024-10-31,104924413.1,0.714286
474,11.0,2024.0,Vinhomes Royal Residences,60240202.26,2024-11-30,43028715.9,0.714286
475,12.0,2024.0,Vinhomes Royal Residences,0.0,2024-12-31,57634393.35,NaN

In [ ]:
1293696913.785

In [94]:
df.sort_values(by=["year", "month"]).loc[df['project']=="DOANH THU"]["revenue"].diff(periods=12).tail(1).values[0]

1293696913.785

In [33]:
np.nansum(df.loc[~df.project.isin(["DOANH THU"])].loc[df['year']==2024]["revenue"])

78228104524.1061

In [32]:
ignore_category = [
    "DOANH THU", "Thưởng nóng", "Doanh thu cho thuê HCM",
    "Doanh thu khác", "Giá vốn VP HCM", "total"
]

In [ ]:
a = df.loc[
        ~df.project.isin(ignore_category)
    ]
a

In [33]:
px.bar(
    data_frame=df.loc[
        ~df.project.isin(ignore_category)
    ], 
    x="date", y="revenue",
    color="project",
    barmode=None
)

In [3]:
import pandas as pd
from pandas.tseries.offsets import MonthEnd
import plotly.express as px
import numpy as np
import streamlit as st

# Shorten unit
UNIT = 1000000

# Process data

def readData(sheetName="", valueName=""):
    data = pd.read_excel("reti_data.xlsx", sheet_name=sheetName, header=None).transpose()
    data.columns = data.iloc[0]
    data = data[1:]
    df = pd.melt(
        data,
        id_vars=['Tháng',"Năm"],
        value_vars=data.columns[2:],
        var_name="project",
        value_name=valueName
    ).rename(columns={
        "Tháng":"month",
        "Năm":"year"
    }).assign(
        date=lambda x: x['month'].astype(int).astype(str) + '/' + x['year'].astype(int).astype(str)
    ).assign(
        date = lambda x: pd.to_datetime(x['date'], format="%m/%Y") + MonthEnd(0)
    )
    return df

revenue_df = readData('revenue', 'revenue')
cogs_df = readData('cogs', 'cogs')
fee_df = readData('fee', 'fee')
ebt = fee_df.loc[fee_df['project']=="LỢI NHUẬN THUẦN TRƯỚC THUẾ"]

revenue_df.loc[:,"project"] = revenue_df["project"].replace("DOANH THU", "total")
cogs_df.loc[:,"project"] = cogs_df["project"].replace("GIÁ VỐN HÀNG BÁN", "total")
ebt.loc[:,"project"] = ebt["project"].replace("LỢI NHUẬN THUẦN TRƯỚC THUẾ", "total")

df = pd.merge(revenue_df, cogs_df, how='outer', on=["project", "date", "year", "month"]).assign(
    CoR = lambda x: x["cogs"] / x["revenue"].replace(0, np.nan)
)
df = pd.merge(
    df, ebt, on=["project", "date", "year", "month"], how="outer"
).rename(columns={"fee":"ebt"}).assign(
    ebtRev = lambda x: x['ebt'] / x['revenue'].replace(0, np.nan)
).assign(
    month = lambda x: x['month'].astype(int),
    year = lambda x: x['year'].astype(int),
    revenue = lambda x: x['revenue'].astype(float),
    cogs = lambda x: x['cogs'].astype(float),
    CoR = lambda x: x['CoR'].astype(float),
    ebt = lambda x: x['ebt'].astype(float),
    ebtRev = lambda x: x['ebtRev'].astype(float)
)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_20884\1742378497.py:42: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  CoR = lambda x: x["cogs"] / x["revenue"].replace(0, np.nan)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_20884\1742378497.py:47: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ebtRev = lambda x: x['ebt'] / x['revenue'].replace(0, np.nan)

In [ ]:

ignore_category = [
    "DOANH THU", "Thưởng nóng", "Doanh thu cho thuê HCM",
    "Doanh thu khác", "Giá vốn VP HCM", "total"
]
revenue_df = df.loc[(~df.project.isin(ignore_category))]

In [67]:
other_revenue = pd.DataFrame(
    df.loc[(df.project.isin(["Doanh thu cho thuê HCM", "Thưởng nóng"]))].groupby(["year", "month", "project"])[["revenue"]].sum()
).reset_index()
operational_revenue = pd.DataFrame(revenue_df.groupby(["year", "month"])["revenue"].sum()).reset_index()\
.assign(
    project = "Project Revenue"
)
revenue_summary = pd.concat([operational_revenue, other_revenue], axis=0).assign(
        date=lambda x: x['month'].astype(int).astype(str) + '/' + x['year'].astype(int).astype(str)
    ).assign(
        date = lambda x: pd.to_datetime(x['date'], format="%m/%Y") + MonthEnd(0)
    )

In [68]:
revenue_summary

    year  month       revenue                 project       date
0   2024      1  2.306784e+08         Project Revenue 2024-01-31
1   2024      2  0.000000e+00         Project Revenue 2024-02-29
2   2024      3  3.200323e+08         Project Revenue 2024-03-31
3   2024      4  1.078916e+10         Project Revenue 2024-04-30
4   2024      5  7.867321e+09         Project Revenue 2024-05-31
5   2024      6  6.195508e+09         Project Revenue 2024-06-30
6   2024      7  3.487682e+09         Project Revenue 2024-07-31
7   2024      8  5.497490e+09         Project Revenue 2024-08-31
8   2024      9  9.269263e+09         Project Revenue 2024-09-30
9   2024     10  1.644975e+10         Project Revenue 2024-10-31
10  2024     11  4.084330e+09         Project Revenue 2024-11-30
11  2024     12  1.090285e+10         Project Revenue 2024-12-31
12  2025      1  5.393590e+08         Project Revenue 2025-01-31
13  2025      2  1.382446e+09         Project Revenue 2025-02-28
0   2024      1  8.909134e+07  Doanh thu cho thuê HCM 2024-01-31
1   2024      1  1.363636e+07             Thưởng nóng 2024-01-31
2   2024      2  8.874905e+07  Doanh thu cho thuê HCM 2024-02-29
3   2024      2  0.000000e+00             Thưởng nóng 2024-02-29
4   2024      3  5.292206e+06  Doanh thu cho thuê HCM 2024-03-31
5   2024      3  0.000000e+00             Thưởng nóng 2024-03-31
6   2024      4  0.000000e+00  Doanh thu cho thuê HCM 2024-04-30
7   2024      4  3.363636e+08             Thưởng nóng 2024-04-30
8   2024      5  0.000000e+00  Doanh thu cho thuê HCM 2024-05-31
9   2024      5  6.136364e+08             Thưởng nóng 2024-05-31
10  2024      6  0.000000e+00  Doanh thu cho thuê HCM 2024-06-30
11  2024      6  8.136364e+08             Thưởng nóng 2024-06-30
12  2024      7  0.000000e+00  Doanh thu cho thuê HCM 2024-07-31
13  2024      7  2.650000e+08             Thưởng nóng 2024-07-31
14  2024      8  0.000000e+00  Doanh thu cho thuê HCM 2024-08-31
15  2024      8  1.363636e+07             Thưởng nóng 2024-08-31
16  2024      9  0.000000e+00  Doanh thu cho thuê HCM 2024-09-30
17  2024      9  6.545455e+08             Thưởng nóng 2024-09-30
18  2024     10  0.000000e+00  Doanh thu cho thuê HCM 2024-10-31
19  2024     10  2.177273e+08             Thưởng nóng 2024-10-31
20  2024     11  0.000000e+00  Doanh thu cho thuê HCM 2024-11-30
21  2024     11  2.272727e+07             Thưởng nóng 2024-11-30
22  2024     12  0.000000e+00  Doanh thu cho thuê HCM 2024-12-31
23  2024     12  0.000000e+00             Thưởng nóng 2024-12-31
24  2025      1  0.000000e+00  Doanh thu cho thuê HCM 2025-01-31
25  2025      1  1.440909e+08             Thưởng nóng 2025-01-31
26  2025      2  0.000000e+00  Doanh thu cho thuê HCM 2025-02-28
27  2025      2  0.000000e+00             Thưởng nóng 2025-02-28

In [71]:
px.bar(
    revenue_summary,
    x='date',
    y="revenue",
    color="project"
)

In [44]:
revenue_summary = pd.merge(
    operational_revenue, other_revenue
)
revenue_summary

    year  month       revenue  Doanh thu chon thuê HCM  Thưởng nóng
0   2024      1  2.306784e+08               89091345.0   13636364.0
1   2024      2  0.000000e+00               88749053.0          0.0
2   2024      3  3.200323e+08                5292206.0          0.0
3   2024      4  1.078916e+10                      0.0  336363637.0
4   2024      5  7.867321e+09                      0.0  613636364.0
5   2024      6  6.195508e+09                      0.0  813636364.0
6   2024      7  3.487682e+09                      0.0  265000001.0
7   2024      8  5.497490e+09                      0.0   13636364.0
8   2024      9  9.269263e+09                      0.0  654545454.0
9   2024     10  1.644975e+10                      0.0  217727273.0
10  2024     11  4.084330e+09                      0.0   22727273.0
11  2024     12  1.090285e+10                      0.0          0.0
12  2025      1  5.393590e+08                      0.0  144090908.0
13  2025      2  1.382446e+09                      0.0          0.0

In [ ]:
df.loc[df["project"].isin([])]

,month,year,project,revenue,date,cogs,CoR,ebt,ebtRev
0,1,2024,Doanh thu cho thuê HCM,8.909134e+07,2024-01-31,NaN,NaN,NaN,NaN
1,2,2024,Doanh thu cho thuê HCM,8.874905e+07,2024-02-29,NaN,NaN,NaN,NaN
2,3,2024,Doanh thu cho thuê HCM,5.292206e+06,2024-03-31,NaN,NaN,NaN,NaN
3,4,2024,Doanh thu cho thuê HCM,0.000000e+00,2024-04-30,NaN,NaN,NaN,NaN
4,5,2024,Doanh thu cho thuê HCM,0.000000e+00,2024-05-31,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
345,10,2024,total,1.666748e+10,2024-10-31,NaN,NaN,4.192057e+09,0.251511
346,11,2024,total,4.107058e+09,2024-11-30,NaN,NaN,-8.088220e+08,-0.196935
347,12,2024,total,1.090285e+10,2024-12-31,NaN,NaN,1.802909e+09,0.165361
348,1,2025,total,6.834499e+08,2025-01-31,NaN,NaN,-1.408265e+09,-2.060524
349,2,2025,total,1.382446e+09,2025-02-28,NaN,NaN,-6.950938e+08,-0.502800

In [19]:
ignore_category = [
    "DOANH THU", "Thưởng nóng", "Doanh thu cho thuê HCM",
    "Doanh thu khác", "Giá vốn VP HCM", "total"
]
revenue_df = df.loc[(~df.project.isin(ignore_category)) & (df['revenue'] > 0)]

In [26]:
pd.DataFrame(revenue_df.groupby('project')['revenue'].sum())

                                    revenue
project
FPT 3                          1.428100e+08
FPT Plaza 2                    5.741190e+07
IMPERIA SIGNATURE              9.636519e+09
LUMI HANOI                     6.655445e+09
SGB                            8.884850e+07
SUN PONTE RESIDENCE            8.731858e+09
SUN RIVERSIDE VILLAGE SẦM SƠN  5.169274e+08
SUN URBAN CITY                 1.482681e+09
Sun Cosmo Residence Đà Nẵng    3.003063e+09
Sun Pathway                    3.166720e+09
Sun Symphony Residences        1.746259e+10
THE MIAMI - GS5                3.531715e+09
The Panoma                     1.556198e+08
The Sea - Sunset Town          7.937941e+07
The Senique                    1.958113e+09
The Sola Park                  6.646321e+09
The Victoria                   2.546598e+09
Vinhomes Global Gate           1.022130e+10
Vinhomes Royal Island          2.406529e+08
Vinhomes Royal Residences      6.912987e+08

In [41]:
df

,month,year,project,revenue,date,cogs,CoR,ebt,ebtRev
0,1,2024,Doanh thu cho thuê HCM,8.909134e+07,2024-01-31,NaN,NaN,NaN,NaN
1,2,2024,Doanh thu cho thuê HCM,8.874905e+07,2024-02-29,NaN,NaN,NaN,NaN
2,3,2024,Doanh thu cho thuê HCM,5.292206e+06,2024-03-31,NaN,NaN,NaN,NaN
3,4,2024,Doanh thu cho thuê HCM,0.000000e+00,2024-04-30,NaN,NaN,NaN,NaN
4,5,2024,Doanh thu cho thuê HCM,0.000000e+00,2024-05-31,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
345,10,2024,total,1.666748e+10,2024-10-31,NaN,NaN,4.192057e+09,0.251511
346,11,2024,total,4.107058e+09,2024-11-30,NaN,NaN,-8.088220e+08,-0.196935
347,12,2024,total,1.090285e+10,2024-12-31,NaN,NaN,1.802909e+09,0.165361
348,1,2025,total,6.834499e+08,2025-01-31,NaN,NaN,-1.408265e+09,-2.060524
349,2,2025,total,1.382446e+09,2025-02-28,NaN,NaN,-6.950938e+08,-0.502800

In [ ]:
df.groupby(['year', 'month'])[['revenue', 'cogs']].sum()\
    .assign(
        grossProfit = lambda x: x["revenue"] - x["cogs"],
        changeRevenue = lambda x: x['revenue'].pct_change(periods=12)*100,
        changeCogs = lambda x: x['cogs'].pct_change(periods=12),
        changeGrossProfit = lambda x: x['grossProfit'].pct_change(periods=12)*100,
        profitMargin = lambda x: x["grossProfit"] / x["revenue"],
        changeProfitMargin = lambda x: x["profitMargin"].diff(periods=12)
    )

                 revenue          cogs   grossProfit  changeRevenue  \
year month
2024 1      6.668123e+08  2.886540e+08  3.781583e+08            NaN
     2      1.774981e+08  1.031908e+08  7.430735e+07            NaN
     3      6.506491e+08  1.896041e+08  4.610450e+08            NaN
     4      2.225104e+10  6.105672e+09  1.614537e+10            NaN
     5      1.696192e+10  4.814755e+09  1.214716e+10            NaN
     6      1.401829e+10  4.383817e+09  9.634471e+09            NaN
     7      7.505363e+09  2.770334e+09  4.735029e+09            NaN
     8      1.102225e+10  3.020618e+09  8.001634e+09            NaN
     9      1.984762e+10  6.576454e+09  1.327116e+10            NaN
     10     3.333496e+10  1.074234e+10  2.259262e+10            NaN
     11     8.214115e+09  2.798483e+09  5.415633e+09            NaN
     12     2.180570e+10  5.967661e+09  1.583804e+10            NaN
2025 1      1.366900e+09  4.275513e+08  9.393485e+08       1.049902
     2      2.764892e+09  9.697122e+08  1.795180e+09      14.577022

            changeCogs  changeGrossProfit  profitMargin  changeProfitMargin
year month
2024 1             NaN                NaN      0.567114                 NaN
     2             NaN                NaN      0.418637                 NaN
     3             NaN                NaN      0.708592                 NaN
     4             NaN                NaN      0.725601                 NaN
     5             NaN                NaN      0.716143                 NaN
     6             NaN                NaN      0.687279                 NaN
     7             NaN                NaN      0.630886                 NaN
     8             NaN                NaN      0.725953                 NaN
     9             NaN                NaN      0.668653                 NaN
     10            NaN                NaN      0.677746                 NaN
     11            NaN                NaN      0.659308                 NaN
     12            NaN                NaN      0.726326                 NaN
2025 1        0.481190           1.484009      0.687211            0.211769
     2        8.397278          23.158844      0.649277            0.550928

In [58]:
df.groupby('project', as_index=False)[["revenue", "cogs"]].sum()\
    .loc[lambda x: ~x.project.isin(ignore_category)]\
    .assign(
        grossProfit = lambda x: x["revenue"] - x['cogs']
    ).sort_values(by="grossProfit", ascending=False)

                          project       revenue          cogs   grossProfit
13        Sun Symphony Residences  1.746259e+10  1.023296e+10  7.229628e+09
5               IMPERIA SIGNATURE  9.636519e+09  5.335123e+09  4.301396e+09
8             SUN PONTE RESIDENCE  8.731858e+09  4.901173e+09  3.830684e+09
21           Vinhomes Global Gate  1.022130e+10  7.628011e+09  2.593285e+09
6                      LUMI HANOI  6.655445e+09  4.079431e+09  2.576014e+09
18                  The Sola Park  6.646321e+09  4.420589e+09  2.225733e+09
14                THE MIAMI - GS5  3.531715e+09  1.634160e+09  1.897555e+09
12                    Sun Pathway  3.166720e+09  1.602204e+09  1.564516e+09
11    Sun Cosmo Residence Đà Nẵng  3.003063e+09  1.894678e+09  1.108385e+09
19                   The Victoria  2.546598e+09  1.660239e+09  8.863595e+08
17                    The Senique  1.958113e+09  1.223821e+09  7.342923e+08
10                 SUN URBAN CITY  1.482681e+09  8.452886e+08  6.373923e+08
9   SUN RIVERSIDE VILLAGE SẦM SƠN  5.169274e+08  3.230796e+08  1.938478e+08
23      Vinhomes Royal Residences  6.912987e+08  5.081902e+08  1.831085e+08
22          Vinhomes Royal Island  2.406529e+08  1.336961e+08  1.069569e+08
2                           FPT 3  1.428100e+08  6.188436e+07  8.092570e+07
15                     The Panoma  1.556198e+08  7.780989e+07  7.780989e+07
7                             SGB  8.884850e+07  4.442425e+07  4.442425e+07
16          The Sea - Sunset Town  7.937941e+07  5.556559e+07  2.381382e+07
3                     FPT Plaza 2  5.741190e+07  4.018833e+07  1.722357e+07

In [81]:
fee_df

    month    year                     project                fee       date
0     1.0  2024.0                 Thưởng nóng         13636363.0 2024-01-31
1     2.0  2024.0                 Thưởng nóng         13636364.0 2024-02-29
2     3.0  2024.0                 Thưởng nóng                0.0 2024-03-31
3     4.0  2024.0                 Thưởng nóng        134268184.0 2024-04-30
4     5.0  2024.0                 Thưởng nóng        281818184.0 2024-05-31
..    ...     ...                         ...                ...        ...
583  10.0  2024.0  LỢI NHUẬN THUẦN TRƯỚC THUẾ  4192056955.052195 2024-10-31
584  11.0  2024.0  LỢI NHUẬN THUẦN TRƯỚC THUẾ  -808822000.931995 2024-11-30
585  12.0  2024.0  LỢI NHUẬN THUẦN TRƯỚC THUẾ  1802909382.240199 2024-12-31
586   1.0  2025.0  LỢI NHUẬN THUẦN TRƯỚC THUẾ   -1408265097.3391 2025-01-31
587   2.0  2025.0  LỢI NHUẬN THUẦN TRƯỚC THUẾ    -695093794.9645 2025-02-28

[588 rows x 5 columns]

In [ ]:
ebt_df = pd.DataFrame(
    fee_df.assign(
        year = lambda x: x['year'].astype(int),
        month = lambda x: x['month'].astype(int)
    ).loc[fee_df["project"] == "LỢI NHUẬN THUẦN TRƯỚC THUẾ"].groupby(["year","month"])["fee"].sum()
)

In [82]:
ebt_df

                          fee
year month
2024 1          -1132402517.3
     2          -1124175435.0
     3         -855802192.254
     4      3966868080.966784
     5      2413069837.917195
     6      1105942256.389001
     7         -723381847.082
     8         472091725.3455
     9      1426895831.139249
     10     4192056955.052195
     11     -808822000.931995
     12     1802909382.240199
2025 1       -1408265097.3391
     2        -695093794.9645