In [2]:
import pandas as pd
import matplotlib.pyplot as plt

Dữ liệu ban đầu được chia thành các sheet khác nhau để dễ xử lý: "revenue", "cogs" và "fee"

In [7]:
data = pd.read_excel("reti_data.xlsx", sheet_name="revenue", header=None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Tháng,1.0,2.0,3.000000e+00,4.000000e+00,5.000000e+00,6.000000e+00,7.000000e+00,8.000000e+00,9.000000e+00,1.000000e+01,1.100000e+01,1.200000e+01,1.000000e+00,2.000000e+00
1,Năm,2024.0,2024.0,2.024000e+03,2.024000e+03,2.024000e+03,2.024000e+03,2.024000e+03,2.024000e+03,2.024000e+03,2.024000e+03,2.024000e+03,2.024000e+03,2.025000e+03,2.025000e+03
2,DOANH THU,333406148.0,88749053.0,3.253246e+08,1.112552e+10,8.480958e+09,7.009144e+09,3.752682e+09,5.511126e+09,9.923809e+09,1.666748e+10,4.107058e+09,1.090285e+10,6.834499e+08,1.382446e+09
3,FPT Plaza 2,57411900.0,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,FPT 3,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.428100e+08,0.000000e+00,0.000000e+00,0.000000e+00
5,The Sea - Sunset Town,NaN,NaN,7.937941e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
6,IMPERIA SIGNATURE,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.022524e+09,1.823819e+08,4.316131e+08
7,LUMI HANOI,NaN,NaN,0.000000e+00,4.144434e+09,3.708439e+08,0.000000e+00,8.819571e+08,0.000000e+00,0.000000e+00,1.258210e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8,SGB,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.884850e+07,0.000000e+00,0.000000e+00,0.000000e+00
9,Sun Pathway,NaN,NaN,0.000000e+00,0.000000e+00,2.835855e+09,2.122343e+08,1.186303e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
10,SUN PONTE RESIDENCE,173266539.0,NaN,0.000000e+00,6.644722e+09,1.738785e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.750838e+08,0.000000e+00,0.000000e+00,0.000000e+00
11,SUN RIVERSIDE VILLAGE SẦM SƠN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.169274e+08,0.000000e+00,0.000000e+00
12,Sun Symphony Residences,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,5.983273e+09,2.002930e+09,3.261102e+09,1.146894e+09,2.056008e+09,7.790016e+08,1.162416e+09,3.569771e+08,7.139871e+08
13,SUN URBAN CITY,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.218783e+09,2.638978e+08,0.000000e+00,0.000000e+00,0.000000e+00
14,Sun Cosmo Residence Đà Nẵng,NaN,NaN,0.000000e+00,0.000000e+00,2.766217e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.368457e+08
15,THE MIAMI - GS5,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.236387e+09,1.094346e+09,0.000000e+00,0.000000e+00,2.009812e+08,0.000000e+00,0.000000e+00
16,The Panoma,NaN,NaN,0.000000e+00,0.000000e+00,1.556198e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
17,Vinhomes Royal Residences,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.841644e+08,0.000000e+00,0.000000e+00,1.468942e+08,6.024020e+07,0.000000e+00,0.000000e+00,0.000000e+00
18,The Senique,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.958113e+09,0.000000e+00,0.000000e+00,0.000000e+00
19,The Sola Park,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.646321e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
20,The Victoria,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.546598e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
21,Vinhomes Global Gate,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.028022e+09,2.576938e+09,6.163356e+08,0.000000e+00,0.000000e+00,0.000000e+00
22,Vinhomes Royal Island,NaN,NaN,2.406529e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
23,Thưởng nóng,13636364.0,0.0,0.000000e+00,3.363636e+08,6.136364e+08,8.136364e+08,2.650000e+08,1.363636e+07,6.545455e+08,2.177273e+08,2.272727e+07,0.000000e+00,1.440909e+08,0.000000e+00
24,Doanh thu cho thuê HCM,89091345.0,88749053.0,5.292206e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000e+00