In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel("reti_data.xlsx", sheet_name="revenue")
data

,Tháng,1,2,3,4,5,6,7,8,9,...,TỔNG CỘNG 2024,Tỷ trọng/Tổng doanh thu (chi phí) 2024,Tỷ trọng/doanh thu 2024,Tháng 1.25,Tháng 2.25,Unnamed: 18,TỔNG CỘNG 2025,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,DOANH THU,333406148.0,88749053.0,3.253246e+08,1.112552e+10,8.480958e+09,7.009144e+09,3.752682e+09,5.511126e+09,9.923809e+09,...,7.822810e+10,1.000000,NaN,6.834499e+08,1.382446e+09,NaN,2.065896e+09,Tỷ lệ GV/DT,NaN,NaN
1,FPT Plaza 2,57411900.0,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,5.741190e+07,0.000734,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.7,NaN,0.7
2,FPT 3,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.428100e+08,0.001826,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.433333,NaN,0.7
3,The Sea - Sunset Town,NaN,NaN,7.937941e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.937941e+07,0.001015,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.7,NaN,0.7
4,IMPERIA SIGNATURE,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,9.022524e+09,0.115336,NaN,1.823819e+08,4.316131e+08,NaN,6.139950e+08,0.543676,NaN,0.7
5,LUMI HANOI,NaN,NaN,0.000000e+00,4.144434e+09,3.708439e+08,0.000000e+00,8.819571e+08,0.000000e+00,0.000000e+00,...,6.655445e+09,0.085077,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.612946,NaN,0.7
6,SGB,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,8.884850e+07,0.001136,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.5,NaN,0.7
7,Sun Pathway,NaN,NaN,0.000000e+00,0.000000e+00,2.835855e+09,2.122343e+08,1.186303e+08,0.000000e+00,0.000000e+00,...,3.166720e+09,0.040481,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.505951,NaN,0.7
8,SUN PONTE RESIDENCE,173266539.0,NaN,0.000000e+00,6.644722e+09,1.738785e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,8.731858e+09,0.111620,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.561298,NaN,0.7
9,SUN RIVERSIDE VILLAGE SẦM SƠN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,5.169274e+08,0.006608,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.625,NaN,0.7
10,Sun Symphony Residences,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,5.983273e+09,2.002930e+09,3.261102e+09,1.146894e+09,...,1.639163e+10,0.209536,NaN,3.569771e+08,7.139871e+08,NaN,1.070964e+09,0.578545,NaN,0.7
11,SUN URBAN CITY,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.482681e+09,0.018953,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.570108,NaN,0.7
12,Sun Cosmo Residence Đà Nẵng,NaN,NaN,0.000000e+00,0.000000e+00,2.766217e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.766217e+09,0.035361,NaN,0.000000e+00,2.368457e+08,NaN,2.368457e+08,0.625,NaN,0.7
13,THE MIAMI - GS5,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.236387e+09,1.094346e+09,...,3.531715e+09,0.045146,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.46271,THẤP,0.7
14,The Panoma,NaN,NaN,0.000000e+00,0.000000e+00,1.556198e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.556198e+08,0.001989,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.5,NaN,0.7
15,Vinhomes Royal Residences,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.841644e+08,0.000000e+00,0.000000e+00,...,6.912987e+08,0.008837,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.735124,NaN,0.7
16,The Senique,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.958113e+09,0.025031,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.625,NaN,0.7
17,The Sola Park,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,6.646321e+09,0.084961,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.665118,NaN,NaN
18,The Victoria,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.546598e+09,0.032553,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.651944,NaN,NaN
19,Vinhomes Global Gate,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.028022e+09,...,1.022130e+10,0.130660,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.746286,NaN,NaN
20,Vinhomes Royal Island,NaN,NaN,2.406529e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.406529e+08,0.003076,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.555556,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
22,Thưởng nóng,13636364.0,0.0,0.000000e+00,3.363636e+08,6.136364e+08,8.136364e+08,2.650000e+08,1.363636e+07,6.545455e+08,...,2.950909e+09,0.037722,NaN,1.440909e+08,0.000000e+00,NaN,1.440909e+08,NaN,NaN,NaN
23,Doanh thu cho thuê HCM,89091345.0,88749053.0,5.292206e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.831326e+08,0.002341,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN